<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%-include("partials/head.ejs")%>
  <body>
    <div class="container">
      <%-include("partials/header.ejs")%>


        <% for (var i = 0; i < products.length; i++) {%>
          <div class="index-container">

            <a href="/home/<%= products[i].id%>">
              <p><%= products[i].name%></p>
            <div class="index-img">
              <img src="<%= products[i].img%>" alt="photo">
            </div>

            </a>
          </div>
        <%}%>
      <%- include("partials/footer.ejs")%>
    </div>


  </body>
</html>
