<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%-include("partials/head.ejs")%>
  <body>
    <div class="container">
      <%-include("partials/header.ejs")%>

      <ul>
        <% for (var i = 0; i < products.length; i++) {%>
          <li>

            <a href="/home/<%= products[i].id%>">
              <%= products[i].name%>
            <img src="<%= products[i].img%>" alt="photo">

            </a>
          </li>
        <%}%>
      </ul>
      <%- include("partials/footer.ejs")%>
    </div>


  </body>
</html>
