<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Showpage</h1>
    <%= product.name%>
    <%= product.qty%>
    <form action="/home/<%=product._id; %>?_method=DELETE" method="POST">
      <input type="submit" name="" value="Delete">
    </form>
    <a href="/home/<%=product._id%>/edit">Edit</a>

    <form action="/home/<%=product._id;%>/buy?_method=put" method="post">
      <input type="submit"  value="Buy Now">
    </form>
  </body>
</html>
