<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%-include("partials/head.ejs")%>
  <body>
    <div class="container">
      <%-include("partials/header.ejs")%>
      <div class="top-candles">
        <a href="/home">
          <h4>Top Candles</h4>
        </a>

      </div>
      <div class="top-product">
        <% for (var i = 0; i < products.length; i++) {%>
              <div class="top-candle-img">
                <a href="/home/<%= products[i].id%>">
                  <img class="candleImg" src="<%= products[i].img%>" alt="photo" />
                </a>
                <div class="description">
                  <p class="about"><%=products[i].about%></p>
                </div>
              </div>
        <%}%>
      </div>
      <div class="allcandles top-candles">
        <a href="/home/">
          <h4>All Candles</h4>
        </a>
      </div>
      <div class="allcandleImage">
        <a class="candle-link" href="/home/">
          <img class="all-candle-img allcandleImage" src="/images/big_1.jpg" alt="photo">
        </a>

      </div>
    </div>
    <%- include("partials/footer.ejs")%>
  </body>
</html>
